@page "/"

<div class="jumbotron">
  <h1 class="display-4">Welcome to NetSurface!</h1>
  <p class="lead">A containerized network management and monitoring solution.</p>
  <hr class="my-4">
  <p>Since this is a fresh install, we'll take you through the steps to get up-and-running.</p>
  <a class="btn btn-primary btn-lg" href="/provisioning" role="button">Get started</a>
</div>
